@import "tailwindcss";

:root {
  --background: #0B0F2B;
  --foreground: #333554;
}

@theme inline {
  --background: #0B0F2B;
    --foreground: #ededed;
    --primary-100:#FFC107;
    --primary-200:#dda400;
    --primary-300:#916400;
    --accent-100:#00BCD4;
    --accent-200:#005e74;
    --text-100:#FFFFFF;
    --text-200:#9c9c9c;
    --bg-100:#0B0F2B;
    --bg-200:#1a1e3b;
    --bg-300:#333554;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B0F2B;
    --foreground: #ededed;
    --primary-100:#FFC107;
    --primary-200:#dda400;
    --primary-300:#916400;
    --accent-100:#00BCD4;
    --accent-200:#005e74;
    --text-100:#FFFFFF;
    --text-200:#9c9c9c;
    --bg-100:#0B0F2B;
    --bg-200:#1a1e3b;
    --bg-300:#333554;
      
  }
}



/* Tablets */
@media (min-width: 768px) {
 
}

/* Laptops */
@media (min-width: 1024px) {
 
}

/* Large desktops */
@media (min-width: 1280px) {
 

}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}
main{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
 
}

button{
  background-color: var(--bg-200);
  padding: 10px;
  border-radius: 5px;
  color: var(--text-100);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.content{
  display: flex;
  flex-direction: row;
  height: 100%;

}
.side-bar{
  background: inherit;
  height: 100%;
  width: 500px;
  overflow-y: scroll;
  padding: 16px;

}

.data-panel{
  background: inherit;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr,auto);
  grid-row-gap: 20px;
  place-items: start;

}

.selected-data{
  background-color: var(--bg-200);
  color: var(--text-100);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 16px;
  height: fit-content;
}
.side-bar > div,.data-panel > div{
  height: fit-content;
  width: 100%;
}
.side-bar h2{
  font-size: var(--text-xl);
  font-weight: bold;
  margin-bottom: 10px;
  
}
.side-bar h3{
  font-size: var(--text-lg);
  font-weight: bold;
 padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-300);
}

.side-bar p{
  padding: 8px;
  font-size: var(--text-lg);
}

.map-container{
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.map-nav{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.map-filter{
  position: absolute;
  z-index: 1000;
  background-color: var(--bg-200);
  color: var(--text-200);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  width: 300px;
  height: 400px;
  overflow-y: scroll;
  font-size: var(--text-sm);
  align-items: center;
  justify-items: start;
  top: 50px;
  left: 100px;
}


.year-filter{
    position: absolute;
  z-index: 1000;
  background-color: var(--bg-200);
  color: var(--text-200);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  width: 88px;
  height: fit-content;
  overflow-y: scroll;
  font-size: var(--text-sm);
  align-items: center;
  justify-items: start;
  top: 50px;
 
}

.map-filter > .indicator {
  padding: 8px;
  width: 100%;
  border-bottom: 1px solid var(--bg-300);
}
.year-filter > .year-btn {
  padding: 8px;
  width: 100%;
  border-bottom: 1px solid var(--bg-300);
}
.year-filter> .selected{
  background-color: var(--bg-300);
  color: var(--text-100);
  font-weight: bold;
}

.map-filter > .selected{
  background-color: var(--bg-300);
  color: var(--text-100);
  font-weight: bold;
}